@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
  font-family: 'Oswald', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */
.header_a{
  @apply hidden md:flex items-center justify-center w-[20%] h-full text-lg 2xl:text-4xl text-[#555] tracking-wider duration-200 hover:border-b-2 hover:border-[#666] hover:font-semibold hover:drop-shadow-sm
}
.header_logo{
  background-image: url('./images/logoMK.svg');
  background-size: cover;
}